.img-thumbnail {
    margin: 25px;
    width: 75%;
    height: 75%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 15px 25px;
    background-color: #fff;
    border-top: none;
    text-align: center;
}
.card-img-top{
    text-align: center;
}
.tab-panel{
    background-color: #fff;
}
tab{
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
}
.message-tab{
    overflow-y: hidden;
}