<div class="content-wrapper">
  <div class="container custom-container">
    <div class="info-wrapper"></div>
    <div class="profile-details">
      <div class="row">
        <div class="col-md-3 col-12 center-content">
          <img class="profile-image" src="{{user.photoUrl || '../../../../../assets/user.png'}}"
            alt="{{user.commonName}}">
        </div>
        <div class="col-md-9 col-12">
          <div class="profile-username">
            <h2>{{user.commonName}}'s Profile</h2>
          </div>
          <div class="row profile-text-section">
            <div class="col-sm-6">
              <strong>
                Location:
              </strong>
              <p>
                {{user.city}}, {{user.state}}, {{user.country}}
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <strong>Age:</strong>
                {{user.age}}
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <strong>Last Active:</strong>
                {{user.lastActive | dateAgo}}
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <strong>Member Since:</strong>
                {{user.created | date}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container moved-up">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-panel">
          <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{user.commonName}}">
              <h4>Description</h4>
              <p>{{user.introduction}}</p>
              <h4>Looking For</h4>
              <p>
                {{user.lookingFor}}
              </p>
            </tab>
            <tab heading="Interests">
              <h4>Interests</h4>
              <p>{{user.interests}}</p>
            </tab>
            <tab heading="Photos">
              <ks-carousel [id]="0" [images]="images"
                [carouselConfig]="{maxWidth: '766px', maxHeight: '400px', showArrows: true, objectFit: 'cover', keyboardEnable: true, modalGalleryEnable: true, legacyIE11Mode: false}"
                [previewConfig]="{visible: true, number: 5, size: {width: 'auto', height: '100px'}}"></ks-carousel>
            </tab>
            <tab heading="Messages" class="message-tab">
              <app-member-messages [recipientId]="user.id"></app-member-messages>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>