<div class="gradient-wrapper-container">
  <div class="container custom-container">
    <div class="text-center mt-3">
      <h2>Your matches - {{pagination.totalItems}} found</h2>
    </div>

    <div class="row p-3">
      <div class="col-sm-3 p-4">
        <form class="form" #form="ngForm">

          <div class="row px-3 mb-3">
            <div class="btn-group flex-wrap">
              <button type="button" name="orderBy" class="btn btn-sm btn-primary last-active-size"
                [(ngModel)]="userParams.orderBy" btnRadio="lastActive" (click)="loadUsers()">Last Active</button>
              <button type="button" name="orderBy" class="btn btn-sm btn-primary" [(ngModel)]="userParams.orderBy"
                btnRadio="created" (click)="loadUsers()">Newest Members</button>
            </div>
          </div>

          <div style="float:right">
            <a href="javascript:void(0)" (click)="resetFilters()">Reset</a>
          </div>
          <br>

          <div class="form-group mt-3">
            <div><label for="minAge">Age From:</label></div>
            14<span style="float:right">100</span>
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1"
              min="14"
              max="100" 
              name="minAge"
              [(ngModel)]="userParams.minAge"
              (change)="loadUsers()">
            </mat-slider>
          </div>

          <div class="form-group mt-3">
            <div><label for="minAge">Age To:</label></div>
            14<span style="float:right">100</span>
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1"
              min="14"
              max="100" 
              name="maxAge"
              [(ngModel)]="userParams.maxAge"
              (change)="loadUsers()">
            </mat-slider>
          </div>

          <!-- <div class="form-group mb-3">
            <div><label for="minAge">Age From: <span style="font-weight: bold;">{{ userParams.minAge }}</span></label></div>
            14<span style="float:right">100</span><input type="range" class="custom-range" step="1" id="minAge" name="minAge" [(ngModel)]="userParams.minAge"
              min="14" max="100" (change)="loadUsers()">
          </div>

          <div class="form-group mb-3">
            <div><label for="maxAge">Age To: <span style="font-weight: bold;">{{ userParams.maxAge }}</span></label></div>
            14<span style="float:right">100</span><input type="range" class="custom-range" step="1" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge"
              min="14" max="100" (change)="loadUsers()">
          </div> -->

          <div class="form-group mb-3">
            <label for="gender">Show:</label>
            <select class="form-control" id="gender" [(ngModel)]="userParams.gender" name="gender"
              (change)="loadUsers()">
              <option *ngFor="let gender of genderList" [value]="gender.value">
                {{gender.display}}
              </option>
            </select>
          </div>

        </form>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-6">
            <app-member-card [user]="user"></app-member-card>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">

          </pagination>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>