

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="text-warning">F</span>irst<span class="text-warning">M</span>atch
    </a>

    <ul class="navbar-nav mr-auto lg-actions" *ngIf="loggedIn()">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/members']" routerLinkActive="active">
          Matches <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list']" routerLinkActive="active">
          Lists <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active">
         <span matBadge="{{unreadMessages}}"  matBadgePosition="above after" matBadgeOverlap=false> Messages</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown sm-actions" dropdown>
      <a class="dropdown-toggle" dropdownToggle>
        Actions
      </a>

      <div class="dropdown-menu mt-4" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/members']" routerLinkActive="active">
          Matches <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/list']" routerLinkActive="active">
          Lists <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/messages']" routerLinkActive="active">
          Messages <span class="sr-only">(current)</span>
        </a>
      </div>
    </div>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>

      <span class="mr-1">
        <img src="{{photoUrl || '../../../../assets/user.png'}}" alt="">
      </span>

      <a class="dropdown-toggle" dropdownToggle>
      {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <!-- <a [matMenuTriggerFor]="menu">
        <mat-icon>notifications_none</mat-icon>
      </a> -->
      
      <div class="dropdown-menu mt-4" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']" routerLinkActive="router-link-active"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" name="username" type="text" placeholder="username" required
        [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="password" required
        [(ngModel)]="model.password">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>


    <!-- <mat-menu #menu="matMenu" class='notifications'>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->
  </div>
</nav>