<div class="footer-wrapper">
    <div class="container">
        <div class="row footer">
            <div class="col-md-6">
                <p>&copy; Copyright 2020. All Rights Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>
                    <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
</div>