/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import url('https://fonts.googleapis.com/css?family=Rokkitt|Yeon+Sung&display=swap');

.tab-panel {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    /* background-color: #fff; */
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }

  body{
    padding-top: 60px;
    overflow-x: hidden;
  }

  .content-wrapper{
    background: linear-gradient(-45deg, lightgray, white, lightgray);
    padding: 15px 0px;
  }

  .custom-container{
    min-height: calc(100vh - 129px);
    margin-top: -16px;
  }
.right-content{
    text-align: right;
  }
  .center-content{
    text-align: center;
  }
.wrapper-container{
  background: linear-gradient(45deg, lightgray, white, white, lightgray);
}


/* Styling for profile edit and details */

.cover-pic{
  background: url(./assets/intro-bg.jpg) center center fixed;
  background-size: cover;
}
.cover-pic-overlay{
  height: 270px;
  background: rgba(0, 0, 0, 0.7);
}
.cover-pic-content{
  position: relative;
  top: -120px;
}
.profile-image{
  height: 220px;
  width: 220px;
  border-radius: 5px;
  border: 2px solid #E95420;
  transition: transform 0.5s;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.profile-image:hover{
  transform: scale(1.1);
}
.profile-name{
  min-height: 120px;
  color: white;
  margin-top: 30px;
}
.profile-highlight{
  min-height: 100px;
  margin-top: 20px;
}

.profile-tab-details{
  margin-top: -120px;
}
.mat-full-width{
  width: 100%;
}
.edit-profile-container{
  padding: 0 5%;
}

.pofile-bg{
  background: url(./assets/bckgr.jpg) center center fixed;
  background-size: cover;
}
.profile-bg-overlay{
  background: rgba(255, 255, 255, 0.65);
  padding-bottom: 15px;
}
.inherit-form-control{
  background: inherit;
  border: 1px solid gray;
}

@media only screen and (max-width: 768px) {
  .profile-name{
      text-align: center;
      color: black;
  }
  .profile-highlight{
      padding: 0px 25px;
  }
}

/* End styling for profile edit and details */


html, body { height: 100%; }
body { margin: 0; font-family: 'Rokkitt', cursive !important; font-size: 1.1em !important; }


