.card {
    border: none;
}

.chat {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px dotted #B3A9A9; */
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.card-body {
    overflow-y: scroll;
    height: 400px;
}
.chat-content-body{
    border: 1px solid gray;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 15px;
}
.chat-content-right-body{
    border-radius: 10px 0px 10px 10px;
    background-color: lightcyan;
}
.chat-content-left-body{
    border-radius: 0px 10px 10px 10px;
    background-color: thistle;
}
.card{
    background: inherit;
}

#contentTextArea{
    position: absolute;
    top: 10%;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    resize: none;
}
#placeTextArea{
    position: absolute;
    top: 10%;
    left: 0;
}
.btn-send{
    margin: 20px 5px;
}
.card-footer{
    position: relative;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    width: 10px;
  }



