<div class="card">
  <div class="card-body" id="chatId">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet....</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">

        <!-- to them -->
        <div *ngIf="message.senderId === recipientId">
          <div class="row">
            <div class="col-2 right-content">
              <img src="{{message.senderPhotoUrl}}" alt="{{message.senderCommonName}}" class="rounded-circle">
            </div>
            <div class="col-10">
              <div class="chat-content-body chat-content-left-body">
                {{message.content}}
              </div>
              <br />
              <small class="text-muted">
                <span class="fa fa-clock-o">{{message.messageSent | dateAgo}}</span>
              </small>
            </div>
          </div>
        </div>

        <!-- to me -->
        <div *ngIf="message.senderId != recipientId">
          <div class="row">
            <div class="col-10 right-content">
              <div class="chat-content-body chat-content-right-body">
                {{message.content}}
              </div>
              <br />
              <small class="text-muted">
                <span class="fa fa-clock-o">{{message.messageSent | dateAgo}}</span>
                <span *ngIf="!message.isRead" class="text-danger">(unread)</span>
                <span *ngIf="message.isRead" class="text-success">(Read {{message.dateRead | dateAgo}})</span>
              </small>
            </div>
            <div class="col-2">
              <span class="chat-img">
                <img src="{{message.senderPhotoUrl}}" alt="{{message.senderCommonName}}" class="rounded-circle">
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">

      <div class="row">
        <div class="col-md-11 col-10">
          <div class="div-placeholder">
            <span>{{newMessage.content}}</span><span>{{messagePlaceHolder}}</span>
          </div>
          <textarea #contentTextArea class="form-control" type="text" id="contentTextArea"
            [(ngModel)]="newMessage.content" name="content" required (keyup)="getPredictions($event)"></textarea>
        </div>
        <div class="col-md-1 col-2">
          <button class="btn btn-primary btn-send" [disabled]="!messageForm.valid">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>


    </form>
  </div>
</div>