<div class="intro-wrapper"> 
  <div class="intro-content">
    <div class="text-center">
      <h1>Find your match</h1>
      <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
      <a class="btn btn-primary btn-lg mr-2" (click)='goToSignupForm()'>Register</a>
      <a class="btn btn-info btn-lg" (click)='goToAbout()'>Learn more</a>
    </div>
  </div>
</div>

<div class="register-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 register-content ">
        <h3 class="text-primary text-center">
          Dummy Content
        </h3>
        <p class="text-justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a
          type specimen book.
        </p>
      </div>
      <div class="col-md-6 register-content" id="signupForm">
        <app-register (cancelRegister)="cancelRegisterMode($event)"> </app-register>
      </div>
    </div>
  </div>
</div>

<div class="featured-user-wrapper" *ngIf="featuredUsers != null">
  <div class="container">
    <div class="row text-center">

      <div class="col-md-12">
        <h3 class="header-margin">
          Featured Users
        </h3>
      </div>

      <!-- <div *ngFor="let item of featuredUsers;index as i">
        <div class="col-md-4" *ngIf="i < 3">
          <img src='{{item.photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template1" [delay]="300"/>
        </div>
      </div> -->

      <ng-template #template0>
        <h4>{{featuredUsers[0].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[0].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[0].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template0" [delay]="300"/>
      </div>
      <ng-template #template1>
        <h4>{{featuredUsers[1].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[1].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[1].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template1" [delay]="300" />
      </div>
      <ng-template #template2>
        <h4>{{featuredUsers[2].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[2].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[2].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template2" [delay]="300" />
      </div>

      <div class="col-md-2">
      </div>
      <ng-template #template3>
        <h4>{{featuredUsers[3].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[3].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[3].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template3" [delay]="300" />
      </div>
      <ng-template #template4>
        <h4>{{featuredUsers[4].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[4].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[4].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template4" [delay]="300" />
      </div>
      <div class="col-md-2">
      </div>

      <ng-template #template5>
        <h4>{{featuredUsers[5].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[5].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[5].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template5" [delay]="300" />
      </div>
      <ng-template #template6>
        <h4>{{featuredUsers[6].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[6].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[6].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template6" [delay]="300" />
      </div>
      <ng-template #template7>
        <h4>{{featuredUsers[7].commonName}}</h4>
        <hr class="hr-user-details" />
        <p>
          {{featuredUsers[7].interests}}
        </p>
      </ng-template>
      <div class="col-md-4">
        <img src='{{featuredUsers[7].photo}}' alt='profile pic' class='img img-responsive img-circle img-profile-pic' [tooltip]="template7" [delay]="300" />
      </div>

    </div>
  </div>
</div>

<div class="contact-section">
  <div class="contact-section-overlay">
    <div class="container">
      <div class='row'>
        <div class="col-md-6 contact-form" id="aboutUs">
          <h3 class=" text-center">
            About Us
          </h3>
          <br />
          <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a
            type specimen book.
          </p>
        </div>
        <div class="col-md-6 contact-form">
          <div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="E.g. john@gmail.com" />
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea type="text" rows="5" class="form-control" id="message"
                placeholder="Place your message here..."></textarea>
            </div>
            <div class="text-right">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>